<div class="content" role="main">
  <span>{{ title }} app is running!</span>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Taller de Mecanica G4</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      ¿Que Buscabas?
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="nav-link" routerLink="/contacto">Contactenos</a>
      <div class="dropdown-divider"></div>
      <a class="nav-link" routerLink="/informacion">Informacion</a>
      <div class="dropdown-divider"></div>
      <a class="nav-link" routerLink="/cotizacion">Cotizacion</a>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>