<div class="centrado">
    <!--<a *ngFor="let post of posts" ></a> -->
    <ng-container *ngFor="let preguntas of (prguntas | async)">
        <ul *ngIf="preguntas.estadoRespuesta== 1">
           
          
            <div class="conteiner p-4">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                
                                    
                                        <h1 face="Comic Sans MS, Arial, MS Sans Serif" style="color:black">{{preguntas.pregunta}}</h1>
                                    
                                        <ng-container *ngFor="let resp of (respuestas | async)">
                                            <ng-container *ngIf=" resp.RESPUESTA_idPregunta ==preguntas.id_pregunta">
                                                <h2   style="color:blue;">{{resp.respuesta}}</h2>
                                            </ng-container>  
                                        </ng-container> 
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>  
    </ng-container> 
</div>

